.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml

# exclude plugin configuration. Might be useful to prevent some plugin from exposing sensitive data
.obsidian/plugins
# exclude workspace cache
.obsidian/workspace.json
.obsidian/workspace-mobile.json
